/* Search */

.ct-search {
    position: relative;
    z-index: 100000;
    float: right;
    margin: 16px 0 0 0;
    width: 34px;
    height: 34px;
}

.ct-search * {
    box-sizing: border-box;
}

.ct-search-input-wrap {
    position: absolute;
    right: 34px;
    width: 265px;
    height: 34px;
    opacity: 0;
    pointer-events: none;
}

.ct-search.ct-search-open .ct-search-input-wrap {
    pointer-events: auto;
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.ct-container .twitter-typeahead {
    width: 100% !important;
    background: #fff;
}

.ct-container .tt-dropdown-menu {
    border: none;
    border-radius: 0px;
}

.ct-icon-search,
input[type="submit"].ct-search-submit {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 34px !important;
    height: 34px;
    text-align: center;
    line-height: 42px;
    cursor: pointer;
}

.ct-icon-search {
    z-index: 90;
    background: #0099cc;
    color: #237dac;
}

.ct-search.ct-search-open .ct-icon-search {
    z-index: 1;
    background: #237dac;
    color: #fff;
    pointer-events: none;
}

input[type="submit"].ct-search-submit {
    z-index: -1;
    padding: 0;
    outline: none;
    border: none;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    color: transparent;
}

.ct-search.ct-search-open input[type="submit"].ct-search-submit {
    z-index: 100
}

input[type="text"].ct-search-input,
input[type="text"].tt-hint {
    margin: 0;
    padding: 2px 7px;
    width: 262px;
    height: 34px;
    outline: none;
    border: none;
    background: #fff;
    font-family: inherit;
    opacity: 0;
    font-weight: bold;
}

.ct-search.ct-search-open input[type="text"].ct-search-input {
    opacity: 1
}

::-webkit-input-placeholder {
    color: #ddd
}

:-moz-placeholder {
    color: #ddd
}

::-moz-placeholder {
    color: #ddd
}

:-ms-input-placeholder {
    color: #ddd
}

.ct-social-profiles li a {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0 2px;
    width: 33px;
    height: 33px;
    outline: none;
    background: transparent url(../images/profile_icons.gif) no-repeat top left;
    text-indent: -9000px;
}

.ct-social-profiles li a:hover {
    overflow: visible
}

.ct-social-profiles li a span {
    position: absolute;
    bottom: 60px;
    left: 50%;
    margin-left: -70px;
    padding: 10px;
    width: 120px;
    height: auto;
    border-radius: 5px;
    background: #056495;
    color: #fff;
    text-align: center;
    text-indent: 0px;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
}

.ct-social-profiles li a span:after {
    content: '';
    position: absolute;
    bottom: -9px;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid #056495;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

.ct-social-profiles li a:hover span {
    bottom: 50px;
    opacity: 0.9;
}

.ct-social-profiles li .ct-social-twitter {
    background-position: 0px 0px
}

.ct-social-profiles li .ct-social-twitter:hover {
    background-position: 0px -36px
}

.ct-social-profiles li .ct-social-dribbble {
    background-position: -36px 0px
}

.ct-social-profiles li .ct-social-dribbble:hover {
    background-position: -36px -36px
}

.ct-social-profiles li .ct-social-forrst {
    background-position: -72px 0px
}

.ct-social-profiles li .ct-social-forrst:hover {
    background-position: -72px -36px
}

.ct-social-profiles li .ct-social-linkedin {
    background-position: -108px 0px
}

.ct-social-profiles li .ct-social-linkedin:hover {
    background-position: -108px -36px
}

.ct-social-profiles li .ct-social-gplus {
    background-position: -144px 0px
}

.ct-social-profiles li .ct-social-gplus:hover {
    background-position: -144px -36px
}

.ct-social-profiles li .ct-social-flickr {
    background-position: -180px 0px
}

.ct-social-profiles li .ct-social-flickr:hover {
    background-position: -180px -36px
}

.ct-social-profiles li .ct-social-github {
    background-position: -216px 0px
}

.ct-social-profiles li .ct-social-github:hover {
    background-position: -216px -36px
}

.ct-social-profiles li .ct-social-facebook {
    background-position: -252px 0px
}

.ct-social-profiles li .ct-social-facebook:hover {
    background-position: -252px -36px
}

.ct-social-profiles li .ct-social-zerply {
    background-position: -288px 0px
}

.ct-social-profiles li .ct-social-zerply:hover {
    background-position: -288px -36px
}

.ct-social-profiles li .ct-social-tumblr {
    background-position: -324px 0px
}

.ct-social-profiles li .ct-social-tumblr:hover {
    background-position: -324px -36px
}

.ct-social-profiles li .ct-social-behance {
    background-position: -360px 0px
}

.ct-social-profiles li .ct-social-behance:hover {
    background-position: -360px -36px
}

.ct-social-profiles li .ct-social-deviantart {
    background-position: -396px 0px
}

.ct-social-profiles li .ct-social-deviantart:hover {
    background-position: -396px -36px
}