/*@import "compass/css3*";*/
#ll:hover {
  transition: all .3s ease-in-out;
  transform: scale(1.02);
}

#ss{
  color: #333;
  text-decoration: none;
  background-color: none;
  /*font-size: 18px;*/
}

#search_name {
  font-weight: 500;
  font-size: 18px;
}

.cap{
  text-transform: capitalize;
}

#and_res {
  margin-top: 50px;
}

#result {
  /*background-color: #E6BE42;*/
  font-weight: bold;
}

#ll {
  transition: all .3s ease-in-out;
  transform: scale(1);
}
