
/*=============================================================
    Authour URL: www.designbootstrap.com
    
    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE
   
========================================================  */
/* =============================================================
COLORS FONT
BLUE: rgb(102, 204, 204), 66CCCC
RED: rgb(204, 0, 102), CC0066
YELLOW: (230, 190, 66), E6BE42
============================================================ */
/* =============================================================
GOOGLE FONT
============================================================ */

@import url(http://fonts.googleapis.com/css?family=Montserrat); /* FREE GOOGLE FONT */
/*@import url(http://fonts.googleapis.com/css?family=Noto Sans); /* FREE GOOGLE FONT */*/
/*"Helvetica Neue", Helvetica, Arial, sans-serif*/
/* =============================================================
GENERAL STYLES
============================================================ */
html,body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%; /* needed for container min-height */
    width: 100%;
}

a {
  color: #66cccc;
}

a:hover, a:focus {
  color: #E6BE42;
  text-decoration: none;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}
h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

}
/*#cities .container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../img/bgs/cities.jpg');
    opacity: 0.1;
    filter: alpha(opacity=20); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-attachment: fixed;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}
#attractions .container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../img/bgs/attractions.jpg');
    opacity: 0.1;
    filter: alpha(opacity=20); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 75% 100%;
    background-attachment: fixed;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}
/*#restaurants .container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../img/bgs/restaurant_sketchc.jpg');
    opacity: 0.1;
    filter: alpha(opacity=20); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-attachment: fixed;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}*/
section {
    padding-top: 80px;
    /*padding-bottom: 40px;*/
}

.pad-bottom {
    padding-bottom: 30px;
}

/*.header {
font-family: 'Roboto', sans-serif;
padding-bottom: 30px;
text-transform: uppercase;
}*/
/*.set-radius-zero {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}*/

.header hr {
    width: 50px;
    border-top: 2px solid rgb(102, 204, 204);
    margin-bottom: 40px
}

.content-wrapper {
    /*margin-top: 75px;*/
    position: relative;
    /*affects footer*/
    height: auto !important;
    min-height: 100%;
    padding-bottom: 60px;
}
.page-head-line {
    font-weight: 900;
    /*padding-bottom: 20px;*/
    /*border-bottom: 2px solid #F0677C;*/    
    text-transform: uppercase;
    color: #333;
    font-size: 20px;
    /*margin-bottom: 40px;*/
}

.btn {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.progress {
    height: 8px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.form-group {
    margin-top: 50px;
}
/* =============================================================
CUSTOM BUTTON STYLES
============================================================ */
.button-custom {
/*border-radius: 0px;*/
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
margin: 25px 5px 5px 0px;
margin: 5px;
}

.btn-custom-one {
background-color: transparent;
color: #fff;
border: 2px solid rgb(204, 0, 102);
}

.btn-custom-one:hover {
background-color: rgb(204, 0, 102);
text-decoration: none;
color: #fff;
}

.btn-custom-two {
color: #fff;
background-color: rgb(204, 0, 102);
border: 2px solid rgb(204, 0, 102);
/*margin-bottom: 40px;*/
}

.btn-custom-two:hover, .btn-custom-two:active {
border: 1px solid rgba(204, 0, 102, 1);
text-decoration: none;
color: #fff;
background-color: rgba(204, 0, 102, 0.5);
}

.btn-custom-three {
    /*border: 2px solid rgb(255,255,255);*/
    color: #66cccc;
    background-color: rgb(255,255,255);
    border-radius: 0px 4px 4px 0px;
}

.btn-custom-three:hover, .btn-custom-three:active {
border: 1px solid rgba(255,255,255, 1);
text-decoration: none;
color: white;
background-color: #66cccc;`
}


.btn-info.disabled,
.btn-info[disabled] {
  background-color: rgba(204, 0, 102, 0.5);
  border-color: rgba(204, 0, 102, 1);
}

/* =============================================================
MENU SECTION STYLES - TODO match with html
============================================================ */
/* TODO delete below?*/
.navbar-brand {
    padding: 5px;
    color: #fff;
}
.navbar-brand > img {
  height: 100%;
  width: auto;
}

.navbar-inverse {
    background-color: rgba(102, 204, 204, 0.95);
    border-color: transparent;
    color: rgb(255,255,255); 
    width: 100%;
}

.nav .navbar-nav .navbar-right li:hover {
    /*border-bottom: 1px solid rgb(255,255,255);*/
    /*color: rgb(141, 204, 204);    */
    /*color: white;*/
    background-color: rgba(102, 204, 204, 0.95);
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: transparent;
    border-bottom: 1px solid white; 
    color: white;
}
.navbar-inverse .navbar-nav > li > a:hover {
    /*border-bottom: 1px solid rgb(255,255,255);*/
    border-bottom: 1px solid white;
    color: white;        
}
.navbar-inverse .navbar-nav > li > a {
    font-size: 13px;
    font-weight: bold;
    color: white;
    padding: 3px 0px;
    letter-spacing: 2px;
    margin: 10px 10px 10px 10px;
}
/* navbar-brand text */
/*.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover {
    color:  white;
    font-size: 30px;
    /*font-weight: 900;*/
    /*font-family: 'Roboto', sans-serif;*/
/*}*/
.navbar-form {
    margin-top: 8px;
    margin-right: -15px;
}
.navbar-form .control-label {
    margin-bottom: 30;
    vertical-align: middle;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #fff;
}

.container > .navbar-header {
  margin-left: -15px;
}

.form-control {
  /*font-size: 14px;*/
  color: #aaa;
  background-color: #fff;
  /*border: 1px solid #333;*/
  border: none;
  border-radius: 4px;
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);*/
}
.form-control:focus {
  border-color: #66cccc;
  outline: 0;
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);*/
}

.form-control::-moz-placeholder {
  color: #aaa;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #aaa;
}
.form-control::-webkit-input-placeholder {
  color: #aaa;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
background-color: rgba(255,255,255,0.5);
border-color: #fff;
}
.navbar-inverse .navbar-toggle {
border-color: #fff;
}

/* HOME PAGE MENU LINKS SECTION*/
#home-menu-section {
    position:absolute;
    border-bottom: none;
    color: #fff;
    background-color: transparent;
    position: center;
}

#home-menu-section .navbar-nav > li > a:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
#home-menu-section .navbar-nav > li > a {
    font-size: 13px;
    font-weight: bold;
    padding: 3px 0px;
    letter-spacing: 2px;
    margin: 10px 10px 10px 10px;
    color: rgb(255, 255, 255);
}
/*#home-menu-section .navbar-brand {
    color: white;
    background-color: transparent;
}*/

/*#home-menu-section {
}*/

#home-menu-section .navbar-collapse {
    /*background-color: rgba(255,255,255,0.5);*/
    /*border-color: #fff;*/
}
#home-menu-section .navbar-toggle:hover, #home-menu-section .navbar-toggle:focus {
    background-color: rgba(255,255,255,0.5);
}

#home-menu-section .navbar-toggle {
    border-color: #fff;    
}

 /*MODEL PAGE MENU LINKS SECTION*/
#menu-section {
    color: rgb(102, 204, 204);
    background-color: rgba(255, 255, 255, 0.95);
    position: center;
}

#menu-section .navbar-nav > .active > a, #menu-section .navbar-nav > .active > a:hover, #menu-section .navbar-nav > .active > a:focus {
    background-color: transparent;
    border-bottom: 1px solid rgb(102, 204, 204); 
    color: rgb(102, 204, 204);
}
#menu-section .navbar-nav > li > a:hover {
    /*border-bottom: 1px solid rgb(255,255,255);*/
    border-bottom: 1px solid rgb(102, 204, 204);
    color: rgb(102, 204, 204);        
}

#menu-section .navbar-nav > li > a {
    font-size: 13px;
    font-weight: bold;
    padding: 3px 0px;
    letter-spacing: 2px;
    margin: 10px 10px 10px 10px;
    color: rgb(102, 204, 204);
}

/*#menu-section .navbar-brand {
    color: rgb(102, 204, 204);
    background-color: transparent;
}*/

#menu-section .navbar-collapse, #menu-section .navbar-form {
    color: rgba(102, 204, 204, 1.0);
    border-color: rgb(102, 204, 204);
}
#menu-section .navbar-toggle:hover, #menu-section .navbar-toggle:focus {
background-color: rgba(102, 204, 204, 0.5);
border-color: rgb(102, 204, 204);
}
#menu-section .navbar-toggle {
background-color: rgba(102, 204, 204, 1.0);
border-color: white;
}

/*.navbar {
    color: #fff;
    margin-bottom: 0px;
}

/* =============================================================
HOME SECTION STYLES - CAROUSEL
============================================================ */
.full-screen {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: auto;
    z-index: 10;
}
/*.carousel-caption > h1 {
    letter-spacing: 5px;
    font-size: 72px;
}*/
.carousel-overlay {
    z-index: 100;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #fff;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/*RESONSIVE CSS*/
@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption {
    margin-top: 300px;
  }
  .carousel-caption p {
    font-size: 22px;
    /*line-height: 1.4;*/
    font-weight: 500;
  }
  .carousel-caption > h1 {
    letter-spacing: 5px;
    font-size: 60px;
    }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/*============================
SWEETSPOT SECTION STYLES
==============================*/

/*#work .categories a.active {
background-color: transparent;
color: #fff;
}*/
#work .categories a.active {
    background-color: rgba(204, 0, 102, 0.5);;
    color: white;    
}
.isotope .isotope-item {
-webkit-transition-duration: 0.8s;
-moz-transition-duration: 0.8s;
transition-duration: 0.8s;
}

#work .work-wrapper {
padding: 10px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-bottom: 40px;
background-color: rgba(255, 255, 255, 0.1);
cursor: pointer;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
border: 1px solid rgb(102,204,204);
}

#work .work-wrapper:hover {
/*background-color: transparent;*/
background-color: rgba(128,128,128, 1.0)
border: 1px solid rgb(102,204,204);

opacity: .80; /* standard: ff gt 1.5, opera, safari */
-ms-filter: "alpha(opacity=80)"; /* ie 8 */
filter: alpha(opacity=80); /* ie lt 7 */
-khtml-opacity: .80; /* safari 1.x */
-moz-opacity: .80; /* ff lt 1.5, netscape */

}

#work .work-wrapper h4 {
padding-top: 10px;
}

/*============================
RECIPE SECTION STYLES
==============================*/
#recipesection > .container {
    width: 100%;
    /*height: auto;*/
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
}

#bgimg {
  width: 100%;
  height: 100%;
  background: url(../img/recipe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /*background-position: 50% 100%; */
}

#recipe {
    width: 50%;
    position: relative;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.90);
}

#menuList {
    z-index: 100;
    font-size: 1.2em;
    line-height: 1.3em;
    font-weight: 450;
    padding: 5px 5px 5px 5px;
    max-height: 650px;
    overflow: auto;
}
#menuList ul {
  margin-top: 20px;
  margin-bottom: 20px;
}
/*============================
TEAM SECTION STYLES
==============================*/
.team-wrapper {
overflow-x: hidden;
position: relative;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-ms-transform: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
margin-bottom:10px;
}
/*.team-wrapper:hover {
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);
}*/
.team-wrapper .team-inner {
    margin: auto;
    /*240 for 2.5in 192 for 2in*/
    max-width: 240px;
    height: 240px;
    background-position: center top;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    border-radius: 10px 10px;
    background-repeat: no-repeat;
}
.team-wrapper .description a {
/*width: 80px;*/
/*height: 80px;*/
/*border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
margin: 0 auto -50px;
display: block;*/
color: rgb(102,204,204);
/*z-index: 999;*/
/*font-size: 40px;*/
padding: 15px 22px;
/*background-color: #fff;*/
/*-webkit-transition: all 0.8s ease-in-out;
-moz-transition: all 0.8s ease-in-out;
-o-transition: all 0.8s ease-in-out;
transition: all 0.8s ease-in-out;*/
}

.team-wrapper .description a:hover, .team-wrapper .description a:focus {
    color: #E6BE42;
    text-decoration: none;
    /*background-color: rgb(102,204,204);*/
}

.team-wrapper .description {
padding: 5px 20px 5px;
text-align: center;
border-bottom: 1px solid #fff;
border-right: 1px solid #fff;
border-left: 1px solid #fff;
border-radius: 0px 0px 10px 10px;
}

.team-wrapper .description h5 {
color: rgb(102,204,204);
}

.team-wrapper .description .bio {
padding: 5px 20px 20px;
text-align: left;
}

/*============================
ABOUT PROJECT SECTION STYLES
==============================*/
.about-project {
overflow-x: hidden;
position: relative;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-ms-transform: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;

/*border-top: 1px solid #fff;
border-right: 1px solid #fff;
border-left: 1px solid #fff;*/
}

.about-project > a {
color: rgb(102,204,204);
width: 80px;
height: 80px;
border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
margin: 0 auto -50px;
display: block;
color: rgb(102,204,204);
z-index: 999;
font-size: 40px;
padding: 0px 15px 22px;
background-color: #fff;
-webkit-transition: all 0.8s ease-in-out;
-moz-transition: all 0.8s ease-in-out;
-o-transition: all 0.8s ease-in-out;
transition: all 0.8s ease-in-out;
}

.about-project > a:hover {
color: #fff;
text-decoration: none;
background-color: rgb(102,204,204);
}

.about-project .description {
padding: 0px 20px 5px;
text-align: center;
/*border-bottom: 1px solid #fff;
border-right: 1px solid #fff;
border-left: 1px solid #fff;*/
/*border-radius: 0px 0px 10px 10px;*/
}

.about-project .description .bio {
padding: 5px 20px 20px;
text-align: left;
}

.about-project .description h3 {
    padding: -10px 20px 5px 20px;
    margin: -4px auto;   
}

.about-project .description h5 {
color: rgb(102,204,204);
}

.about-project #details {
    padding: 5px 20px 20px;
    text-align: center;
}

/*============================
FOOTER SECTION STYLES
==============================*/
footer {
    padding: 10px;
    /*color: #fff;*/
    color: transparent;
    font-size: 12px;
    text-align: right;
    /*background-color: rgba(204, 0, 102, 0.9);*/
    width: 100%;
    bottom: 0 !important; /* stick to bottom */
}

/*footer {
    margin: 0 0 3em 0;
}

    footer > :last-child {
        margin-bottom: 0;
    }

    footer.major {
        padding-top: 3em;
    }*/

/*============================
DATA TABLE STYLE
==============================*/

/*<input type="search" class="" placeholder="" aria-controls="example">*/
table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0
}
table.dataTable a, {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    color: #66CCCC;
    text-decoration: none;
}
table.dataTable a:hover {
    color: #E6BE42;
}
table.dataTable thead th,
table.dataTable tfoot th {
    font-weight: bold;
    background-color: #66CCCC;
    color: white;
}
table.dataTable thead th,
table.dataTable thead td {
    padding: 10px 18px;
    /*border-bottom: 1px solid #333*/
}
table.dataTable thead th:active,
table.dataTable thead td:active {
    outline: none
}
table.dataTable tfoot th,
table.dataTable tfoot td {
    padding: 10px 18px 6px 18px;
    border-top: 1px solid #ff0000
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    cursor: pointer;
    *cursor: hand
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background-repeat: no-repeat;
    background-position: center right
}
table.dataTable thead .sorting {
    /*background-image: url("../images/sort_both.png")*/
    position: relative;
}
table.dataTable:before thead:before .sorting:before {
    content: fa-sort;
    font-family: FontAwesome;
}
table.dataTable thead .sorting_asc {
    /*background-image: url("../images/sort_asc.png")*/
    position: relative;
}
table.dataTable:before thead:before .sorting_asc:before {
    content: "fa-sort-asc";
    font-family: FontAwesome;    
}
table.dataTable thead .sorting_desc {
    /*background-image: url("../images/sort_desc.png")*/
    position: relative;
}
table.dataTable:before thead:before .sorting_desc:before {
    content: "fa-sort-desc";
    font-family: FontAwesome;
}
table.dataTable thead .sorting_asc_disabled {
    /*background-image: url("../images/sort_asc_disabled.png")*/
}
table.dataTable thead .sorting_desc_disabled {
    /*background-image: url("../images/sort_desc_disabled.png")*/
}
/*even rows*/
table.dataTable tbody tr {
    background-color: rgba(255,255,255,1);
}
table.dataTable tbody tr.selected {
    background-color: rgba(230, 190, 66, 0.1);
}
table.dataTable tbody th,
table.dataTable tbody td {
    padding: 8px 10px
}
/*table body cell border*/
table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
    border-bottom: 1px solid #eee;
}
table.dataTable.row-border tbody tr:first-child th,
table.dataTable.row-border tbody tr:first-child td,
table.dataTable.display tbody tr:first-child th,
table.dataTable.display tbody tr:first-child td {
    border-top: none
}
table.dataTable.cell-border tbody th,
table.dataTable.cell-border tbody td {

}
table.dataTable.cell-border tbody tr th:first-child,
table.dataTable.cell-border tbody tr td:first-child {
}
table.dataTable.cell-border tbody tr:first-child th,
table.dataTable.cell-border tbody tr:first-child td {
    border-top: none
}
table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
    background-color: #fff
}
table.dataTable.stripe tbody tr.odd.selected,
table.dataTable.display tbody tr.odd.selected {
    /*background-color: #acbad4*/
}
/* highlights row on hover minus id/first col */
table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
    background-color: #eee
}
table.dataTable.hover tbody tr:hover.selected,
table.dataTable.display tbody tr:hover.selected {
    /*background-color: #aab7d1*/
    background-color: #ff0000;
}
table.dataTable.order-column tbody tr>.sorting_1,
table.dataTable.order-column tbody tr>.sorting_2,
table.dataTable.order-column tbody tr>.sorting_3,
table.dataTable.display tbody tr>.sorting_1,
table.dataTable.display tbody tr>.sorting_2,
table.dataTable.display tbody tr>.sorting_3 {
    /*background-color: #fff;*/
}
table.dataTable.order-column tbody tr.selected>.sorting_1,
table.dataTable.order-column tbody tr.selected>.sorting_2,
table.dataTable.order-column tbody tr.selected>.sorting_3,
table.dataTable.display tbody tr.selected>.sorting_1,
table.dataTable.display tbody tr.selected>.sorting_2,
table.dataTable.display tbody tr.selected>.sorting_3 {
    /*background-color: #acbad5*/
    background-color: #ff0000
}
/*first column every other*/
table.dataTable.display tbody tr.odd>.sorting_1,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    /*background-color: #f1f1f1*/
    background-color: none;
}
table.dataTable.display tbody tr.odd>.sorting_2,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_2 {
    /*background-color: #f3f3f3*/
    background-color: #ff0000
}
table.dataTable.display tbody tr.odd>.sorting_3,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_3 {
    background-color: #ff0000;
    /*background-color: whitesmoke*/
}

table.dataTable.display tbody tr.odd.selected>.sorting_1,
table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_1 {
    /*background-color: #a6b4cd*/
    background-color: #ff0000

}
table.dataTable.display tbody tr.odd.selected>.sorting_2,
table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_2 {
    /*background-color: #a8b5cf*/
    background-color: #ff0000
}
table.dataTable.display tbody tr.odd.selected>.sorting_3,
table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_3 {
    /*background-color: #a9b7d1*/
    background-color: #ff0000
}

/*even rows first column*/
table.dataTable.display tbody tr.even>.sorting_1,
table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background-color: none;
}
table.dataTable.display tbody tr.even>.sorting_2,
table.dataTable.order-column.stripe tbody tr.even>.sorting_2 {
    /*background-color: #fcfcfc*/
    background-color: #fafafa    
}
table.dataTable.display tbody tr.even>.sorting_3,
table.dataTable.order-column.stripe tbody tr.even>.sorting_3 {
    /*background-color: #fefefe*/
    background-color: #fafafa    
}

table.dataTable.display tbody tr.even.selected>.sorting_1,
table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_1 {
    background-color: #ff0000;
    /*background-color: #acbad5*/
}
table.dataTable.display tbody tr.even.selected>.sorting_2,
table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_2 {
    /*background-color: #aebcd6*/
    background-color: #fafafa    
}
table.dataTable.display tbody tr.even.selected>.sorting_3,
table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_3 {
    /*background-color: #afbdd8*/
    background-color: #fafafa    
}

/*first col hover*/
table.dataTable.display tbody tr:hover>.sorting_1,
table.dataTable.order-column.hover tbody tr:hover>.sorting_1 {
    /*background-color: #eaeaea*/
}
table.dataTable.display tbody tr:hover>.sorting_2,
table.dataTable.order-column.hover tbody tr:hover>.sorting_2 {
    /*background-color: #ececec*/
    /*background-color: #eaeaea*/
}
table.dataTable.display tbody tr:hover>.sorting_3,
table.dataTable.order-column.hover tbody tr:hover>.sorting_3 {
    /*background-color: #efefef*/
    /*background-color: #eaeaea*/

}

table.dataTable.display tbody tr:hover.selected>.sorting_1,
table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_1 {
    /*background-color: #a2aec7*/
    /*background-color: #eaeaea*/

}
table.dataTable.display tbody tr:hover.selected>.sorting_2,
table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_2 {
    /*background-color: #a3b0c9*/
    /*background-color: #eaeaea*/

}
table.dataTable.display tbody tr:hover.selected>.sorting_3,
table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_3 {
    /*background-color: #a5b2cb*/
    /*background-color: #eaeaea    */
}
table.dataTable.no-footer {
    /*border-bottom: 1px solid #111*/
}
table.dataTable.nowrap th,
table.dataTable.nowrap td {
    white-space: nowrap
}
table.dataTable.compact thead th,
table.dataTable.compact thead td {
    padding: 4px 17px 4px 4px
}
table.dataTable.compact tfoot th,
table.dataTable.compact tfoot td {
    padding: 4px
}
table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
    padding: 4px
}
table.dataTable th.dt-left,
table.dataTable td.dt-left {
    text-align: left
}
table.dataTable th.dt-center,
table.dataTable td.dt-center,
table.dataTable td.dataTables_empty {
    text-align: center
}
table.dataTable th.dt-right,
table.dataTable td.dt-right {
    text-align: right
}
table.dataTable th.dt-justify,
table.dataTable td.dt-justify {
    text-align: justify
}
table.dataTable th.dt-nowrap,
table.dataTable td.dt-nowrap {
    white-space: nowrap
}
table.dataTable thead th.dt-head-left,
table.dataTable thead td.dt-head-left,
table.dataTable tfoot th.dt-head-left,
table.dataTable tfoot td.dt-head-left {
    text-align: left
}
table.dataTable thead th.dt-head-center,
table.dataTable thead td.dt-head-center,
table.dataTable tfoot th.dt-head-center,
table.dataTable tfoot td.dt-head-center {
    text-align: center
}
table.dataTable thead th.dt-head-right,
table.dataTable thead td.dt-head-right,
table.dataTable tfoot th.dt-head-right,
table.dataTable tfoot td.dt-head-right {
    text-align: right
}
table.dataTable thead th.dt-head-justify,
table.dataTable thead td.dt-head-justify,
table.dataTable tfoot th.dt-head-justify,
table.dataTable tfoot td.dt-head-justify {
    text-align: justify
}
table.dataTable thead th.dt-head-nowrap,
table.dataTable thead td.dt-head-nowrap,
table.dataTable tfoot th.dt-head-nowrap,
table.dataTable tfoot td.dt-head-nowrap {
    white-space: nowrap
}
table.dataTable tbody th.dt-body-left,
table.dataTable tbody td.dt-body-left {
    text-align: left
}
table.dataTable tbody th.dt-body-center,
table.dataTable tbody td.dt-body-center {
    text-align: center
}
table.dataTable tbody th.dt-body-right,
table.dataTable tbody td.dt-body-right {
    text-align: right
}
table.dataTable tbody th.dt-body-justify,
table.dataTable tbody td.dt-body-justify {
    text-align: justify
}
table.dataTable tbody th.dt-body-nowrap,
table.dataTable tbody td.dt-body-nowrap {
    white-space: nowrap
}
table.dataTable,
table.dataTable th,
table.dataTable td {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

table.dataTable td {
    color: #333;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
    *zoom: 1;
    zoom: 1
}
.dataTables_wrapper .dataTables_length {
    float: left
}
.dataTables_length > label > select {
    font-weight: normal;
}
.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right
}
.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em
}
.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: 0.755em
}
.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em
}

/*changes number color, idk what else this does*/
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;    
    display: inline-block;
    min-width: 1.5em;
    padding: 5.5px 11px;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #aaaaaa !important;
    border: 2px solid transparent;
    border-radius: 4px;
    vertical-align: middle;    
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    /*color: rgb(170,170,170) !important;*/
    color: white !important;
    border: 2px solid rgba(102, 204, 204, 0.5);
    background-color: rgba(102, 204, 204, 1.0);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: white !important;
    border: 2px solid rgba(102, 204, 204, 0.5);
    background-color: rgba(102, 204, 204, 1.0);
    text-decoration: none;
/*    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%)*/
}
/*previous and next buttons when on end pages*/
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: transparent !important;
    background: transparent;
    border: none;
    box-shadow: none
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #fff !important;
    border: 2px solid rgba(102, 204, 204, .5);
    background-color: rgba(102, 204, 204, .5);
/*    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
    background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
    background: -moz-linear-gradient(top, #585858 0%, #111 100%);
    background: -ms-linear-gradient(top, #585858 0%, #111 100%);
    background: -o-linear-gradient(top, #585858 0%, #111 100%);
    background: linear-gradient(to bottom, #585858 0%, #111 100%)*/
}
/*.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
    background-color: purple;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
    background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
    box-shadow: inset 0 0 3px #111
}*/
.dataTables_wrapper .dataTables_paginate .ellipsis {
    padding: 0 1em
}
/*no idea what this is doing*/
.dataTables_wrapper .dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 40px;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%)
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: #aaaaaa
}

.dataTables_wrapper:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: #aaa;
    background-color: #fff;
}

@media screen and (max-width: 767px) {
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_paginate {
        float: none;
        text-align: center
    }
    .dataTables_wrapper .dataTables_paginate {
        margin-top: 0.5em
    }
}
@media screen and (max-width: 640px) {
    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter {
        float: none;
        text-align: center
    }
    .dataTables_wrapper .dataTables_filter {
        margin-top: 0.5em
    }
}
