{% extends "layout.html" %}
{% block navbartype %} "white-navbar" {% endblock %}
{% block logo%} 
<img src="https://cloud.githubusercontent.com/assets/7130850/14767446/acb07362-09ea-11e6-9381-3b268344159d.png" />
{% endblock %}
{% block aboutunderline %} class="active" {% endblock %}
{% block body %}
        <!--TEAM SECTION START-->
        <section id="team">
            <div class="container">
                <div class="row text-center header animate-in" data-anim-type="fade-in-up">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h3>Team Members</h3>
                        <hr />
                    </div>
                </div>
                <div class="row animate-in" data-anim-type="fade-in-up">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="team-wrapper">
                            <!-- we can link the elements in team-inner to a new pge or popup with description and bio -->
                            <div class="team-inner" style="background-image: url('https://googledrive.com/host/0By8VsAnK-ZRDdzdfUXFkZFRfN1k')">
                            </div>
                            <div class="description">
                                <h3><a href="https://github.com/jchudev">Jonathon Chu</a></h3>
                                <!--maybe we just link to a new page or popup -->
                                <div class="bio">
                                    <p>
                                        <ul>
                                            <li>Weirdest Quirk: Mean to Computers</li>
                                            <li>major responsibilities: Full-Stack</li>
                                            <li>no. of commits: 35</li>
                                            <li>no. of issues: 10</li>
                                            <li>no. of unit tests: 6</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="team-wrapper">
                            <div class="team-inner" style="background-image: url('https://cloud.githubusercontent.com/assets/7130850/14763943/bc9992ec-096b-11e6-9b07-f17605de7cb4.jpg')">
                            </div>
                            <div class="description">

                                <h3><a href="https://github.com/WDraper">Wes Draper</a></h3>
                                <div class="bio">
                                    <!-- <h5> <strong> Developer & Designer </strong></h5> -->
                                    <p>
                                        <ul>
                                            <li>Fun Fact: Huge Thrifter</li>
                                            <li>major responsibilities: Front-End</li>
                                            <li>no. of commits: 36</li>
                                            <li>no. of issues: 13</li>
                                            <li>no. of unit tests: 4</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="team-wrapper">
                            <div class="team-inner" style="background-image: url('https://googledrive.com/host/0By8VsAnK-ZRDekFJbGhzbjAtM0E')">
                            </div>
                            <div class="description">

                                <h3><a href="https://github.com/robojukie">Julie Paik</a></h3>
                                <div class="bio">

                                    <p>
                                        <ul>
                                            <li>Frisbee</li>
                                            <li>major responsibilities: Front-End and Data</li>
                                            <li>no. of commits: 36</li>
                                            <li>no. of issues: 15</li>
                                            <li>no. of unit tests: 3</li>

                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="team-wrapper">
                            <div class="team-inner" style="background-image: url('https://cloud.githubusercontent.com/assets/7130850/14763940/b80152a6-096b-11e6-9f13-fdc7e8f0c877.jpg')">
                            </div>
                            <div class="description">
                                <h3><a href="https://github.com/j0natran">Jonathan Tran</a></h3>
                                <div class="bio">
                                    <p>
                                        <ul>
                                            <li>Favorite Travel Destination: Alaska</li>
                                            <li>major responsibilities: Back-End</li>
                                            <li>no. of commits: 9</li>
                                            <li>no. of issues: 13</li>
                                            <li>no. of unit tests: 3</li>
                                        </ul>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="team-wrapper">
                            <div class="team-inner" style="background-image: url('https://cloud.githubusercontent.com/assets/7130850/14763941/ba092e8e-096b-11e6-99df-9a54ba2962ce.jpg')">
                            </div>
                            <div class="description">
                                <h3><a href="https://github.com/derek949">Derek Truong</a></h3>
                                <div class="bio">
                                    <p>
                                        <ul>
                                            <li>Favorite Eatery: Taco Joint</li>
                                            <li>major responsibilities: Back-End and Data</li>
                                            <li>no. of commits: 10</li>
                                            <li>no. of issues: 15</li>
                                            <li>no. of unit tests: 3</li>
                                        </ul>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="team-wrapper">
                            <div class="team-inner" style="background-image: url('https://cloud.githubusercontent.com/assets/7130850/14763942/bba50740-096b-11e6-8d8f-a09b7c368c8b.jpg')">
                            </div>
                            <div class="description">
                                <h3><a href="https://github.com/Sharonlulu12">Sharon White</a></h3>
                                <div class="bio">
                                    <p>
                                        <ul>
                                            <li>Fun Fact: I work for UT</li>
                                            <li>major responsibilities: Back-End, Data, Unit Tests</li>
                                            <li>no. of commits: 10</li>
                                            <li>no. of issues: 38</li>
                                            <li>no. of unit tests: 7</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--TEAM SECTION END-->
        <!-- ABOUT PROJECT SECTION START -->
        <section id="grid">
            <div class="container">
                <div class="row text-center header animate-in" data-anim-type="fade-in-up">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h3>Project</h3>
                        <hr />
                    </div>
                </div>
<!--                 <div class="row text-center header animate-in" data-anim-type="fade-in-up">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    </div>
                </div> -->
                <div class="row animate-in" data-anim-type="fade-in-up">

                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <!-- <div class="team-wrapper"> -->
                        <!-- <div class="team-inner" style="background-image: url('../static/assets/img/team/4.jpg')" > -->
                        <!-- </div> -->
                        <div class="about-project">
                            <div class="description">
                                <h3>Stats & Data</h3>
                                <div class="bio">
                                    <p>
                                        <ul>
                                            <li>total no. of commits: 27</li>
                                            <li>total no. of issues: 20</li>
                                            <li>total no. of unit tests: 12</li>
                                            <li><a href="http://docs.sweetspots.apiary.io/#">Apiary API</a></li>
                                            <li><a href="https://github.com/derek949/cs373-idb/issues">GitHub Issue Tracker</a></li>
                                            <li><a href="https://github.com/derek949/cs373-idb.git">GitHub</a></li>
                                            <li><a href="https://github.com/derek949/cs373-idb/wiki">Github Wiki</a></li>
                                            <hr id="box_hr"/>
                                            <li><a href="https://www.yelp.com/developers/documentation/v2/overview">Yelp API</a></li>
                                            <li><a href="http://wiki.dbpedia.org/">Wikipedia API</a></li>
                                            <li><a href="https://developers.google.com/places/">Google Places API</a></li>
                                            <!-- <a href="/tests" class="btn btn-info" role="button">Run Tests</a> -->
<!--                                             <button id="btn-id" class="btn btn-info" type="button"
                                            data-loading-text="loading tests...">Run Tests</button> -->
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="about-project">
                            <div class="description">
                                <h3 id="detailsh3">Details</h3>
                                <div id="details">
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <button id="btn-id" class="btn btn-custom btn-custom-two btn-info" type="button" data-loading-text="loading tests...">Run Tests</button>
                                    <p></p>
                                    <a href="https://speakerdeck.com/j0natran/cs373-idb3">Speaker Deck</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="about-project">
                            <div class="description">
                                <h3>Tools</h3>
                                <div class="bio">
                                    <p>
                                        <ul>
                                            <li><a href="https://apiary.io/">Apiary</a></li>
                                            <!-- <li><a href="http://www.crummy.com/software/BeautifulSoup/">Beautiful Soup</a></li> -->
                                            <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
                                            <!-- <li><a href="https://coverage.readthedocs.org/en/coverage-4.0.3/">Coverage</a></li> -->
                                            <!-- <li><a href="">cProfile</a></li> -->
                                            <!-- <li><a href="https://wiki.gnome.org/action/show/Apps/Dia?action=show&redirect=Dia">Dia</a></li> -->
                                            <!-- <li><a href="http://epydoc.sourceforge.net/">Epydoc</a></li> -->
                                            <li><a href="http://flask.pocoo.org/">Flask</a></li>
                                            <li><a href="https://mikeboers.github.io/Flask-Images/">Flask Images</a></li>
                                            <li><a href="http://flask-sqlalchemy.pocoo.org/2.1/">Flask SQLAlchemy</a></li>
                                            <li><a href="https://git-scm.com/">Git</a></li>
                                            <li><a href="https://github.com/">GitHub</a></li>
                                            <!-- <li><a href="http://haystacksearch.org/">Haystack Search</a></li> -->
                                            <!-- <li><a href="https://github.com/stedolan/jq">JQ</a></li> -->
                                            <!-- <li><a href="http://www.jsoneditoronline.org/">JSON Editor Online</a></li> -->
                                            <li><a href="http://www.jslint.com">JSLint</a></li>
                                            <li><a href="http://www.freeformatter.com/json-formatter.html">JSON Formatter</a></li>
                                            <li><a href="http://jsbeautifier.org">JS Beautifier</a></li>
                                            <!-- <li><a href="http://lokeshdhakar.com/projects/lightbox2/">Lightbox</a></li> -->
                                            <!-- <li><a href="https://lodash.com/">Lo-Dash</a></li> -->
                                            <!-- <li><a href="http://nvd3.org/">NVD3</a></li> -->
                                            <li><a href="https://www.python.org/dev/peps/pep-0008/">PEP 8</a></li>
<!--                                             <li><a href="https://www.jetbrains.com/pycharm/">PyCharm</a></li> -->
                                            <li><a href="https://docs.python.org/2/library/pydoc.html">pydoc</a></li>
                                            <!-- <li><a href="https://www.pylint.org/">Pylint</a></li> -->
                                            <li><a href="https://www.rackspace.com/en-us">Rackspace</a></li>
                                            <li><a href="http://docs.python-requests.org/en/master/">Requests: HTTP for Humans</a></li>
                                            <!-- <li><a href="https://github.com/mgonto/restangular">RestAngular</a></li> -->
                                            <li><a href="https://slack.com/">Slack</a></li>
                                            <!-- <li><a href="http://www.sphinx-doc.org/en/stable/domains.html">Sphinx</a></li> -->
                                            <li><a href="http://www.sqlalchemy.org/">SQLAlchemy</a></li>
                                            <!-- <li><a href="https://swiftype.com/">Swiftype</a></li> -->
                                            <!-- <li><a href="">Timeline</a></li> -->
                                            <li><a href="https://travis-ci.org/">Travis CI</a></li>
                                            <!-- <li><a href="https://twitter.github.io/typeahead.js/">Typeahead</a></li> -->
                                            <li><a href="https://docs.python.org/2/library/unittest.html">unittest</a></li>
                                            <li><a href="http://yuml.me/">yUML</a></li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ABOUT PROJECT SECTION END -->
{% endblock %}