{% extends "layout.html" %}
{% block body %}
<!--GRID SECTION START-->
<section id="grid" >
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>{{ attraction.name }}</h3>
                <hr />
            </div>
        </div>

        <div class="row pad-bottom animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h4>City: <a href="/cities/{{ attraction.city_id }}">{{ city.name }}</a></h4>
                <h4>Rating: {{ attraction.rating }}</h4>
                <h4>Number Of Rating: {{ attraction.num_reviews }}</h4>
                <h4>Category: {{ attraction.category }} </h4> 
               

            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="work-wrapper">

                <a class="fancybox-media" title="{{ attraction.name }}" href="{{ attraction.image }}">

                <img src="{{ attraction.image }}" class="img-responsive img-rounded center-block" alt="" />
                </a>

                <h4><center>{{ attraction.name }}</center></h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!--GRID SECTION END-->
{% endblock %}