{% extends "layout.html" %}
{% block navbartype %} "white-navbar" {% endblock %}
{% block logo%} 
<img src="https://cloud.githubusercontent.com/assets/7130850/14767446/acb07362-09ea-11e6-9381-3b268344159d.png" />
{% endblock %}
{% block citiesunderline %} class="active" {% endblock %}
{% block body %}
        <div id="cities">
            <div class="container">
            </div>
        </div>
        <!--TABLE SECTION START-->
        <section id="grid">
            <div class="container">
                <div class="row text-center header animate-in" data-anim-type="fade-in-up">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h3>Cities</h3>
                        <hr />
                    </div>
                </div>
                <div id="content" class="row animate-in" data-anim-type="fade-in-up">
                    <script type="text/babel" src="../static/assets/js/scripts/cities.js"></script>
                    <script type="text/javascript">

                        $(document).ready(function() {
                            $('#example').dataTable();
                        } );
                    
                       function initMyDataTable() {
                         $('#example').dataTable();
                           
                       }
                       function addTableRow(c){
                            var demonym = c.demonym;
                            if (demonym == "NULL") {
                                c.demonym = "Unknown"
                            }
                            $('#example').dataTable().fnAddData(["<a href=\"/cities/"+ c.id +"\">"+c.name+"</a>", c.population, c.country, c.demonym, c.elevation]);
                       }
                    </script>
                </div>
            </div>
        </section>
        <!-- TABLE SECTION END -->
{% endblock %}


