{% extends "layout.html" %}
{% block logo%} 
<img src="https://cloud.githubusercontent.com/assets/7130850/14767447/acc8b30a-09ea-11e6-82e0-79c0ddb8062d.png" />
{% endblock %}
{% block citiesunderline %} class="active" {% endblock %}
{% block body %}
<!--GRID SECTION START-->
<section id="grid" >
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <h3>{{ city.name }}</h3>
                <hr />

            </div>
        </div>
        <div class="row animate-in" data-anim-type="fade-in-up">

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h4>Country: {{ city.country }}</h4>
                <h4>Population: {{ city.population }}</h4>
                <h4>Elevation: {{ city.elevation }}</h4> 
                <h4>Demonym: {{ city.demonym }}</h4>
                <!--
                <h4>Description:</h4>
                <p>
                    {{ city.description }}
                </p>
                -->
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="work-wrapper">

                <a class="fancybox-media" title="{{ city.name }}" href="{{ city.image }}">

                <img src="{{ city.image }}" class="img-responsive img-rounded center-block" alt="" />
                </a>

                <h4><center>{{ city.name }}</center></h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!--GRID SECTION END-->
<!--SWEETSPOT SECTION START-->
<section id="work">
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>SWEet Spots</h3>
                <hr />
            </div>
        </div>
        <div class="row text-center animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pad-bottom">
                <div class="categories">
                    <a href="#" data-filter="*" class="btn btn-custom btn-custom-two btn-sm">All</a>
                    <a href="#" data-filter=".html" class="btn btn-custom btn-custom-two btn-sm">Restaurants</a>
                    <a href="#" data-filter=".css" class="btn btn-custom btn-custom-two btn-sm">Attractions</a>
                </div>
            </div>
        </div>
        <div class="row text-center animate-in" data-anim-type="fade-in-up" id="sweetspots-div">
        {% for att in Attractions %}
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 css">
                <div class="work-wrapper">
                    <a class="fancybox-media" title="{{ att.name }}" href="../attractions/{{ att.id }}">
                        <img src="{{ att.image }}" class="img-responsive img-rounded center-block" alt="" />
                    </a>
                    <h4>{{ att.name }}</h4>
                </div>
            </div>
        {% endfor %}
        {% for rest in Restaurants %}
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 html">
                <div class="work-wrapper">
                    <a class="fancybox-media" title="{{ rest.name }}" href="../restaurants/{{ rest.id }}">
                        <img src="{{ rest.image }}" class="img-responsive img-rounded center-block" alt="" />
                    </a>
                    <h4>{{ rest.name }}</h4>
                </div>
            </div>
        {% endfor %}
        </div>
    </section>
{% endblock %}