<!DOCTYPE html>
{% extends "layout.html" %}
{% block navbartype %} "home-menu-section" {% endblock %}
{% block body %}
        <!--HOME SECTION START-->
        <div id="home">
            <div class="container-fluid">
                <div class="row">
<!--                     <div class="col-lg-12">-->                    
                        <!-- <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 "> -->
                        <div id="carousel-slider" data-ride="carousel" class="carousel slide  animate-in" data-anim-type="fade-in-up">
                              <!-- Indicators -->
                              <ol class="carousel-indicators">
                                <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-slider" data-slide-to="1"></li>
                                <li data-target="#carousel-slider" data-slide-to="2"></li>
                              </ol>
                            <!-- <div class="carousel-inner"> -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item">
<!--                                     <img src="../static/assets/img/splash/cities.jpg" alt="cities" /> -->
                                    <img src="https://googledrive.com/host/0By8VsAnK-ZRDTjBHRHVJTmJNZ2s" alt="cities" />
                                    <div class="container">
                                        <div class="carousel-caption">
                                            <h1>Cities</h1>
                                            <p>
                                                Checkout some of the cooliest cities in the world! Find all the top attractions and restaurants that they have to offer
                                            </p>                                      
                                        </div>
                                    </div> 
                                </div>
                                <div class="item">
                                    <img src='../static/assets/img/splash/attractions.jpg' alt="attractions" />
                                    <!-- <img src="https://googledrive.com/host/0By8VsAnK-ZRDNXhZMlNBaWdRZ2M" alt="attractions" /> -->
                                    <div class="container">
                                        <div class="carousel-caption">
                                            <h1>Attractions</h1>
                                            <p>
                                                Lost in a city and don't know what to do? Our attractions page has some of the most fun places to visit, no matter where you are in the world.
                                            </p>                            
                                        </div>
                                    </div>
                                </div>
<!-- https://iartindex.wordpress.com/2012/04/25/guggenheim-museum-bilbao/                                 -->
                                <div class="item">
                                    <img src='../static/assets/img/splash/restaurants.jpg' alt="restaurants" />
                                    <!-- <img src="https://googledrive.com/host/0By8VsAnK-ZRDbzF6TDJJY3owbm8" alt="restaurants" /> -->
                                    <div class="container">
                                        <div class="carousel-caption">      
                                            <h1>Restaurants</h1>
                                            <p>
                                                Hungry? SWEetspots features some of the most appetizing stops all over the world. From hot-pockets to halibut you can find it all on our restaurants page!
                                            </p>
    <!-- http://www.travelchannel.com/interests/food-and-drink/photos/cityeats-top-10-philadelphia-restaurants -->
    <!-- http://thornhillcapital.info/europe/french-business-etiquette/attachment/people-eating-outside-at-cafe-du-marche-on-rue-cler-paris-france                                         -->
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>

                    <!-- </div> -->
                <!-- </div> -->
<!--                 <div class="row animate-in" data-anim-type="fade-in-up">
                    <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 scroll-me">
                        <p>
                        </p>
                    </div>
                </div> -->
            </div>

        </div>
        <!-- HOME SECTION END -->
    </div>
{% endblock %}