{% extends "layout.html" %}
{% block logo%} 
<img src="https://cloud.githubusercontent.com/assets/7130850/14767447/acc8b30a-09ea-11e6-82e0-79c0ddb8062d.png" />
{% endblock %}
<!-- {% block recipesunderline %} class="active" {% endblock %} -->
{% block body %}
<!-- <img src="https://cloud.githubusercontent.com/assets/7130850/14767446/acb07362-09ea-11e6-9381-3b268344159d.png" /> -->
    <!--RECIPE SECTION START-->
    <section id="recipesection">
        <div id="recipes">
            <div class="container-fluid">
                <div class="row text-center header animate-in" data-anim-type="fade-in-up">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h3>Recipes to Try After Traveling</h3>
                        <hr />
                    </div>
                </div>
                <div class="row text-center header animate-in" data-anim-type="fade-in-up">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
           <!-- <div class="row animate-in" data-anim-type="fade-in-up"> -->
                        <div id="recipe">
                            <div id="menuList"><ul></ul></div>   
                            <script type="text/babel" src="../static/assets/js/scripts/recipes.js"></script>
                        </div>
                    <div>
                </div>
            </div>
        </div>
    </section>
    <!-- RECIPE SECTION END -->
 {% endblock %}