{% extends "layout.html" %}
{% block navbartype %} "menu-section" {% endblock %}
{% block restaurantsunderline %} class="active" {% endblock %}
{% block body %}
        <!--TABLE SECTION START-->
        <section id="grid">
            <div class="container">
                <div class="row text-center header animate-in" data-anim-type="fade-in-up">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h3>Restaurants</h3>
                        <hr />
                    </div>
                </div>
                <div id="content" class="row animate-in" data-anim-type="fade-in-up">
                    <script type="text/babel" src="../static/assets/js/scripts/restaurants.js"></script>
                    <script type="text/javascript">

                        $(document).ready(function() {
                            $('#example').dataTable();
                        } );
                    
                       function initMyDataTable() {
                         $('#example').dataTable();
                           
                       }
                       function addTableRow(r){
                            $('#example').dataTable().fnAddData(["<a href=\"/restaurants/"+ r.id +"\">"+r.name+"</a>", "<a href=\"/cities/" + r.city_id + "\">" + r.city_name +"</a>", r.rating, r.category.charAt(0).toUpperCase() + r.category.slice(1), r.address]);
                       }
                    </script>
                </div>
            </div>
        </section>
        <!-- TABLE SECTION END -->
{% endblock %}