{% extends "layout.html" %}
{% block navbartype %} "menu-section" {% endblock %}
{% block body %}
<!--GRID SECTION START-->
<section id="grid" >
	<div class="container">
		<div class="row text-center header animate-in" data-anim-type="fade-in-up">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<h3>Search</h3>
				<hr />
			</div>
		</div>
		<div id="content" class="row pad-bottom animate-in" data-anim-type="fade-in-up">
				<script type="text/babel" src="../static/assets/js/scripts/search.js">

				</script>
				

		</div>
	</div>
</section>
<!--GRID SECTION END-->
{% endblock %}