{% extends "layout.html" %}
{% block navbartype %} "white-navbar" {% endblock %}
{% block body %}
    <!--GRID SECTION START-->
    <section id="grid">
        <div class="container">
            <div class="row text-center header animate-in" data-anim-type="fade-in-up">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h3>Tests</h3>
                    <hr />
                </div>
            </div>

            <div class="row animate-in" data-anim-type="fade-in-up">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <pre><code class="bas">{% for line in memory %}
                        {{ line.decode('utf-8') }} 
                        {% endfor %}</code></pre>
                </div>
            </div>
        </div>
    </section>
    <!--GRID SECTION END-->
{% endblock %}