<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
    <p>
      {{ x }}
    </p>
    <p>
      <ol>
          {% for city in cities %}
          <li>{{ city }}</li>
          {% endfor %}
          
          {% for attraction in attractions %}
          <li>{{ attraction }}</li>
          {% endfor %}
          
          {% for restaurant in restaurants %}
          <li>{{ restaurant }}</li>
          {% endfor %}
      </ol>
    </p>
</body>
</html>
